.tab-container {
  margin-right: 10px;
  margin-top: 10px;
}

.btn {
  background-color: transparent;
  border-style: none;
  color: #7b8794;
  font-size: 20px;
  font-weight: bold;
}

.active-tabId {
  color: #2563eb;
  text-decoration: underline;
  text-decoration-color: #2563eb;
}
